# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual Environments
# ======================
venv/
.env




# ======================
# Experiments / drafts
# ======================
test.ipynb
retriever_pipeline1.py
interview_questions_and_answers.txt
piper_voices_output/

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/

# ======================
# Logs / temp
# ======================
*.log
