# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual Environments
# ======================
venv/
.env

# ======================
# Vector DB / RAG artifacts
# ======================


# ======================
# Experiments / drafts
# ======================
test.ipynb
retriever_pipeline1.py

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/

# ======================
# Logs / temp
# ======================
*.log
